.callContainer{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 30px 10px 0px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    width: 120px;
    height: 100px;
    margin: -10px;
}

.logo h1{
    font-size: 30px;
    margin: -15px;
    font-family: 'Merriweather', serif;
}

.timing{
    display: flex;
    justify-content:end;
    align-items: center;
}

.timing .call, .openingHour{
    margin-right: 20px;
    font-family: 'Merriweather', serif;
}

.timing .call-icon i, .clock-icon i{
  margin-right: 15px;
  color: #474E68;
}

.timing .call h5, .openingHour h5{
  margin-bottom: 0;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#34495e;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 11vh;
}

.navbar .menu{
  display: flex;
  align-items: center;
  padding-left: 20px;
}


.navbar .menu a{
  position: relative;
  text-decoration: none;
  color: #fcfafa;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  letter-spacing: 0.5px;
  padding: 0 25px;
  outline: none;
}

.navbar .menu a:after{
  content: "";
  position: absolute;
  background-color: #ff3c78;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.navbar .menu a:hover{
    color: #ffffff;
}

.navbar .menu a:hover:after{
  width: 90%;
}

.navbar input{
    background-color:#34495e;
    font-family: 'Merriweather', serif;
    font-size: 14px;
    border: 2px solid;
    outline: none;
    height: 35px;
    width: 13%;
    color: white;
    margin-right: 50px;
    padding: 0 10px;
    border-radius: 5px;
}
